
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig

# Archivos de seguridad de Google Play y Firebase
**/key.properties
**/*.jks
**/*.keystore
**/google-services.json
